{{!-- <p>You are connected to Server!</p> --}}


<div class="row">
    {{!--
    <h1>Eat DA Burger</h1> --}}

    <div class="col-md-12  text-center" class="task">
          <div class="row cen">

            {{#each burger_data}}
            {{#unless this.devoured}}

            <div class="col-md-12 text-center">
              <h2> {{this.id}}. {{this.burger_name}} </h2> 
            </div>

</div>
<div class="row cen">

            <div class="col-md-6 cen text-center">
                <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                    <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                    <br>
                    <button type="submit" class="burgerEaten btn-lg">
                        Devour It!
                    </button>

                </form>

                <div>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>


            <div class="col-md-8 text-center cen" class="task burgerEaten">
                {{#each burger_data}}
                {{#if this.devoured}}
                <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
                {{/if}}
                {{/each}}</br></br>
</div>
            </div>



        </div>
    </div>


  

</div>


  <div class="row cen foot">
        <div class="col-md-12 text-center">
            <h3>Enter in a burger you would like to eat!</h3>
            <form action="/burgers/create" method="POST">
                <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
                <button type="submit" class="addBurgerButton pulse btn-lg" id="text-enter-button">SUBMIT</button>

            </form>

        </div>
    </div>
